github_user:      "YOUR_GITHUB_USERNAME"
github_repo:      "wms-app"
github_token:     "github_pat_xxxx"

app_name:         "wms"
app_path:         "wms-app"
app_base_url:     "/wms-app/"
app_root:         "/var/www/html/wms-app"

db_root_pass:     "CHANGE_ME_DB_PASSWORD"
db_name:          "wms"
db_name2:         "wms2"

node_port:        3000
node_emit_secret: "CHANGE_ME_LONG_RANDOM_STRING"
