server_ip    = "YOUR_DROPLET_IP"
ssh_key_path = "~/.ssh/id_ed25519"   # or ~/.ssh/id_rsa
db_root_pass = "CHANGE_ME_DB_PASSWORD"
deploy_user  = "CHANGE_ME_USERNAME"
ssh_port     = 0000

app_name     = "wms"
app_path     = "wms-app"
app_base_url = "/wms-app/"
app_root     = "/var/www/html/wms-app"

github_user  = "YOUR_GITHUB_USERNAME"
github_repo  = "YOUR_REPO_NAME"
github_token = "github_pat_xxxx"

db_name      = "wms"
db_name2     = "wms2"

node_port        = 3000
node_emit_secret = "CHANGE_ME_LONG_RANDOM_STRING"

deploy_version = "1"
